.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-image: url("./assets/압둘테레비용.png");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

.clock {
  position: fixed;
  top: 762px;
  left: 810px;
  font-size: 70px;
  text-align: right;
  color: white;
}
